* {
    margin: 0;
}

.cont1 {
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.borde1{
    border-radius: 125px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-style: solid;
    border-color: gold;
    width: 721px;
    margin-bottom: 30px;
}

.posicion1{
    margin-bottom: 60px;
    margin-top: 20px;
}

.img1 {
    width: 75%;
    height: auto;
}

.img2{
    width: 70%;
    margin-top: 10px;
}

.position--absolute{
    position: absolute;
    bottom: 280px;
}

.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.texto1{
    position: absolute;
    top: 310px;
    left: 705px;
    font-style: italic;
    font-size: 40px;
    color: white;
}

.texto2{
    position: absolute;
    top: 370px;
    left: 593px;
    font-style: normal;
    font-size: 20px;
    color: white;
}
